* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body {
  /* TODO */
  background: linear-gradient(90deg, yellow, orange, red);
}

.search-container {
  /* TODO */
  width: 600px;
  background: whitesmoke;
  margin: 200px auto 0;
  border-radius: 5px;
 }

 .row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
 }

input {
 /* TODO */
 flex: 1;
 height: 50px;
 background: transparent;
 border: 0;
 outline: 0;
 font-size: 18px;
 color: #333;
}

::placeholder {
  color: #222;
}

.suggestions ul {
border-top: 1px solid #999;
padding: 15px 10px;
}

.suggestions ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
  }

.suggestions ul li:hover {
  background: gray;
  }

.suggestions {
  max-height: 300px;
  overflow-y: scroll;
}

  